/********************************
Bootstrap Variables Override
**********************************/
:root {
    /* Replace your primary color from your UI Kit */
    
    --bs-primary: #6e6e6e;
    --bs-primarydark: #3c3c3c;
    --bs-primarylight: #e9e9e9;

    /* Replace your secondary color from your UI Kit  */
    --secondary-color: #b0b0b0;
    --secondary-colordark: #54595e;
    --secondary-colorlight: #abb5be;

    /* Replace the main body font from your UI Kit */
    --bs-font-sans-serif: 'Roboto', sans-serif;

    /* Optional: Replace gradient from your UI Kit */
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
/********************************
Global Styles and UI Components
**********************************/
body {
    font-family: var(--bs-font-sans-serif);
}
.navbar {
    /* Optional: Make the navbar background transparent */
    background-color: transparent;

    /* Optional: Move the navbar is positioned over the hero */
    position: absolute;

    /* Optional: Stretch the navbar across the full width */
    width: 100%;

    /* Optional: Add inner spacing to the navbar */
    padding: 1rem;
}

footer {
    /* Change footer background color */
    background-color: var(--bs-primary);
    /* Optional: Change footer text color to white using variable */
    color: var(--bs-white);
    /* Optional: Center footer elements */
    text-align: center;
}

footer .footer-social {
    /* Optional: Change size of footer icon */
    width:24px;
    margin:.5rem
}

.btn-primary {
    background-color: var(--bs-primarydark);
    border-color: var(--bs-primarydark);
    color: white;
}

.btn-primary:hover {
    background-color: var(--secondary-colordark);
    border-color: var(--secondary-colordark);
    color: white;
}
/********************************
Typography
**********************************/
h1,
h2,
h3,
h4,
h5,
h6 {
    /* Optional: Add letter spacing to all headings */
    letter-spacing: -0.05rem;
    /* Optional: Adjust font-weight to all headings */
    font-weight: 700;
}

h2 {
    /* Optional: Adjust font-size of heading 2 */
    font-size: 2rem;
}

.display-1 {
    /* Optional: Customizes display-1 style based on my Figma UI kit */
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 100%;
    letter-spacing: -0.2rem;
}

.display-2 {
    /* Optional: Customizes display-2 style based on my Figma UI kit */
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 100%;
    letter-spacing: -0.2rem;
}

.kicker {
    /* Optional: Establish new custom text style class called "kicker" */
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.25rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* Optional: Customize responsive style for display-1 on small devices and larger */
    .display-1 {
        font-size: 4rem;
    }
}